h1{
    text-align: center;

}

.logo{
    position: absolute;
    top:5%;
    left: 42.7%;
    margin-right: -50%;
 
 }

.mensagem{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

.caixa{
    resize: none;
    display: inline-block;
    
}

.popups{
    position: absolute;
    left: 25.7%;
    margin-right: -50%;
    
}

body{



}

