* {
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    background-color:#c5758d; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(78, 74, 74);
    margin: 4px;
    margin-bottom: 20px;
    
}

.mensagem{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(78, 74, 74);
      
}

.caixona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(189, 189, 189, 70%);
    margin: 15px;

}

.escrevaAquiASuaMensagem{
    color:rgb(78, 74, 74);
    font-size: 17px;
}

.logo{
    display:flex;
    justify-content: center;

 }

.caixas{
    resize: none;
    display: flex;
    flex-direction: column;
}

.caixas_texto {
    display: flex;
}

.textoCaixaUm{
    display: flex;

}

.deslocamento{
    display: inline-block;
    justify-content: center;
    
}

#escolha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 140px;
    font-size: 16px;
    color: black;
    font-weight: normal;

}

#escolha > * {
    max-width: 100%;

}

.alertas3{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    background-image: url(imagens/fundo3.jpg);
    margin: 0px;
    background-size: cover;

}