h1{
    text-align: center;

}
.mensagem{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

.caixa{
    resize: none;
    display: inline-block;
    
}




body{
background-color: rgb(238, 216, 223);

}
