* {
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    background-color: #c5758d;
}

.caixona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(189, 189, 189, 70%);
    margin: 15px;
}


.logo{
    display:flex;
    justify-content: center;


 }

.mensagem{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

.caixas{
    resize: none;
    display: flex;
    flex-direction: column;
}

.caixas_texto {
    display: flex;
}

.textoCaixaUm{
    display: flex;

}

.deslocamento{
    display: inline-block;
    justify-content: center;

}

#escolha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 140px;
}

#escolha > * {
    max-width: 100%;
}

.popups{
    display: inline-block;
    justify-content: center;
}

body{
    background-image: url(imagens/fundo3.jpg);



}