h1{
    display: flex;
    justify-content: center;
    background-color: #c5758d;
}

.logo{
    display:flex;
    justify-content: center;
    
    
 }

.mensagem{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

.caixas{
    resize: none;
    display: inline-flex;
    
    
}

.textoCaixaUm{
    display: flex;

}

.deslocamento{
    display: inline-block;
    justify-content: center;
    
}

#escolha{
    display: inline-block;
    justify-content: center;
}

.popups{
    display: inline-block;
    justify-content: center;
       
} 

body{
  background-color: #BE5F7C;
    


}

